@charset "utf-8";
/* CSS Document */

body
{
	background-color:#03F;
}
#contacts
{
	width:1000px;
	height:1000px;
	background-color:#0F0;
	margin-left:150px;

}
#head
{
	width:1000px;
	height:150px;
	background-color:#F00;
}
#logo
{
	width:200px;
	height:150px;
	background-color:#FF0;
}
#logo1
{
	width:800px;
	height:150px;
	background-color:#F00;
}